/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --primary-color: #6C63FF;
  --secondary-color: #F6E05E;
}

body {
  background-color: #FDFDFD;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  height: 50px;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-link {
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}





.btn {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #F1C40F;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .navbar {
    margin-top: 1rem;
  }
}